@model EditArrayPartialMembersViewModel

<h4 class="h6">@Model.Title</h4>
<edit-array asp-array-id="@Model.Id"
            asp-items="Model.Members"
            asp-view-name="~/Views/TagHelperExamples/EditArray/_PersonEditor.cshtml"
            asp-display-view-name="~/Views/TagHelperExamples/EditArray/_PersonDisplay.cshtml"
            asp-display-mode="true"
            asp-template="true"
            asp-add-button="true">
</edit-array>
